---
import { Image } from "astro:assets";
import ProjectCard from "./ProjectCard.astro";
import tibiMobileIphone from "../assets/projects/2/mockup-iphone.png";
import tibiDesktopMockup from "../assets/projects/2/mockup-desktop.png";
import club101DesktopMockup from "../assets/projects/1/mockup-desktop.png";
import club101MobileMockup from "../assets/projects/1/mockup-iphone.png";
import figmaTitle from "../assets/projects/3/title.webp";

interface Props {
  projectId?: string;
}

const { projectId } = Astro.props;
---

<section id="projects" class="flex flex-col items-center pt-44 space-y-16">
  <h2 class="text-6xl/18 self-start">
    {
      projectId ? (
        <div>Where To Next?</div>
      ) : (
        <div>
          <div class="border-t-4">Latest</div>
          <div>Work</div>
        </div>
      )
    }
  </h2>
  <div
    class=`w-full flex flex-col gap-y-16 items-center tracking-wide leading-normal`
  >
    {
      projectId !== "1" && (
        <ProjectCard projectId="1">
          <div class="relative flex items-end md:px-8 translate-y-10">
            <div class="ease-out duration-500 md:group-hover:-translate-y-10 md:group-hover:-rotate-6 md:translate-y-14 relative z-1 md:-rotate-2  hidden md:flex justify-center border-4 border-white rounded-xl bg-violet-100">
              <Image class="p-4" alt="" src={club101MobileMockup} />
            </div>
            <div class="ease-out duration-500 md:group-hover:-translate-y-10 md:group-hover:rotate-6 md:translate-y-14 relative -left-8 md:left-2 -rotate-6 md:rotate-2 border-4 border-white rounded-xl bg-neutral-200">
              <Image class="p-4" alt="" src={club101DesktopMockup} />
            </div>
          </div>
        </ProjectCard>
      )
    }
    {
      projectId !== "2" && (
        <ProjectCard projectId="2">
          <div class="relative flex items-end md:px-8 translate-y-10">
            <div class="ease-out duration-500 md:group-hover:-translate-y-10 md:group-hover:-rotate-6 md:translate-y-14 relative z-1 md:-rotate-2  hidden md:flex justify-center border-4 border-white rounded-xl bg-blue-100">
              <Image class="p-4" alt="" src={tibiMobileIphone} />
            </div>
            <div class="ease-out duration-500 md:group-hover:-translate-y-10 md:group-hover:rotate-6 md:translate-y-14 relative -left-8 md:left-2 -rotate-6 md:rotate-2 border-4 border-white rounded-xl bg-neutral-200">
              <Image class="p-4" alt="" src={tibiDesktopMockup} />
            </div>
          </div>
        </ProjectCard>
      )
    }
    {
      projectId !== "3" && (
        <ProjectCard projectId="3">
          <div class="relative flex items-end md:px-8 translate-y-10">
            <div class="ease-out duration-500 md:group-hover:-translate-y-10 md:group-hover:rotate-6 md:translate-y-14 relative -left-8 md:left-2 -rotate-6 md:rotate-2 border-4 border-white rounded-xl bg-neutral-200">
              <Image class="p-4" alt="" src={figmaTitle} />
            </div>
          </div>
        </ProjectCard>
      )
    }
  </div>
</section>
