---
import { getCollection } from "astro:content";
import PageLayout from "./PageLayout.astro";
import Heading from "../components/Heading.astro";
import ProjectFooter from "../components/ProjectFooter.astro";
import Projects from "../components/Projects.astro";
export const prerender = true;

interface Props {
  id: string;
}

const { id } = Astro.props;
const projects = await getCollection("projects");
const project = projects.filter((project) => project.id === id)[0];

if (!project) {
  throw new Error(`Project with id "${id}" not found"`);
}
---

<PageLayout>
  <header class="flex flex-col space-y-12">
    <Heading>
      {project.data.title}
    </Heading>
    <p>{project.data.description}</p>

    <div class="grid grid-cols-3 gap-8">
      <div class="space-y-4">
        <h3 class="uppercase text-sm font-bold">Stack</h3>
        <ul>
          {project.data.stack.map((item) => <li>{item}</li>)}
        </ul>
      </div>

      <div class="space-y-4">
        <h3 class="uppercase text-sm font-bold">Live</h3>
        <div>
          <a target="_blank" href={project.data.site}>View site &rarr;</a>
        </div>
      </div>

      <div class="space-y-4">
        <h3 class="uppercase text-sm font-bold">Repo</h3>
        <div>
          <a target="_blank" href={project.data.repo}>Check code &rarr;</a>
        </div>
      </div>
    </div>
  </header>
  <main class="space-y-16">
    <slot />
  </main>
  <Projects projects={projects.filter((project) => project.id !== id)} />
</PageLayout>
<ProjectFooter />
